body {
    background: #0E6BA8;
    margin: 0;
    padding: 0;
}
#wrapper {
    display: grid;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 auto;
}
/* Navagation Bar for all Pages */
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4FB477;
    font-size: 36px;
} 
.nav li {
    float: left;
}  
.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}  
/* Change the link color to #111 (black) on hover */
.nav li a:hover {
    background-color: #4FB477;
}
/* Hero Image */
.hero {
    display: block;
    margin: 0 auto;
    background-image: url("../images/allsesons.jpeg");
    height: 500px;
    width: 100%;
    background-size:cover;
}
h1 {
    text-align: center;
    font-family: Oswald;
    font-size: 55px;
}
p {
    text-align: center;
    font-family: Itim;
    font-size: 25px;
}
/* Footer navigation bar */
.foot {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
.foot li {
    float: left;
}
  
.foot li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.foot li a:hover {
    background-color: #111;
}
/* Spring and Summer CSS */
.spring-img {
    display: block;
    margin: 0 auto;
    background-image: url("../images/spring.jpg");
    height: 500px;
    width: 100%;
    background-size:cover;
}
.summer-img {
    display: block;
    margin: 0 auto;
    background-image: url("../images/summer.jpg");
    height: 500px;
    width: 100%;
    background-size:cover;
}
h2 {
    font-size: 55px;
    font-family: Oswald;
}
.spring-list{
    list-style-type: none;
    text-align: center;
    font-family: Itim;
    font-size: 25px;
}
.summer-list {
    list-style-type: none;
    text-align: center;
    font-family: Itim;
    font-size: 25px;
}
/* Fall and Winter CSS */

/* Tried to add parallax to my home page */
.parallax {
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}